<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="TestCase_User_Login" enabled ="true">
	<classes>
		<class name="com.bellesboard.qa.testcases.LoginPageTest"/>
	</classes>
	</test>
	
	<test name="TestCase_Home_Page" enabled ="true">
	<classes>
		<class name="com.bellesboard.qa.testcases.HomePageTest"/>
	</classes>
	</test>
	
	<test name="TestCase_Forgot_Password" enabled ="true">
	<classes>
		<class name="com.bellesboard.qa.testcases.ForgotPassPageTest"/>
	</classes>
	</test>
	
	<test name="Create_New_User" enabled ="true">
	<classes>
		<class name="com.bellesboard.qa.testcases.CreateUserTest"/>
	</classes>
	</test>
	
</suite>